@import "settings";

.flip-wrap{
  margin-top: 30px;
  position: relative;
  z-index: 2;
  
  .flip-container {
	transform-style: preserve-3d;
	transition: 1000ms;
	position: relative;
	transform: perspective(450px) rotatey(0);
	backface-visibility: hidden;
	background: $boxColor;
	color: $boxTextColor;
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.3);
	
	&.back{
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  transform: perspective(450px) rotatey(180deg);
	}
	
	.heading{
	  display: flex;
	  align-items: center;
	  padding:5px 10px;
	  background: rgba(255,255,255,0.3);
	  position: relative;
	  z-index: 1;
	  
	  h3,p{ margin: 0; }
	}
	
	span.reset {
	  display: inline-block;
	  width: 30px;
	  height: 30px;
	  margin-left: auto;
	  position: relative;
	  cursor: pointer;
	  
	  &:before, 
	  &:after{
		content: "";
		width: 20px;
		height: 3px;
		background: $boxTextColor;
		transform: rotate(45deg);
		display: inline-block;
		position: absolute;
		top: 13px;
		left: 4px;
		transition: all 150ms ease-in;
	  }
	  &:after{
		transform: rotate(-45deg);
	  }
	  
	  &:hover{
		&:before,&:after{
		  background: $alert;
		}
	  }
	}
  }
  
  &.flipped{
	.flip-container{
	  transform: perspective(450px) rotatey(180deg);
	  
	  &.back{
		transform: perspective(450px) rotatey(360deg);
	  }
	}
  }
}

.user-list {
  max-width: 500px;
  margin: auto;
  
  .users-container{
	height: 600px;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: visible;
	
	> .user-line{
	  display: flex;
	  align-items: center;
	  justify-content: stretch;
	  cursor: pointer;
	  padding: 5px 15px;
	  border-radius: 5px;
	  transition: all 150ms ease-in;
	  
	  &:hover{
		background: rgba($topGradient, 0.5);
	  }
	}
  }
}

.user .users-container{
  max-height: 322px;
}

.avatar{
  display: inline-flex;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  background: $topGradient;
  color: $bottomGradient;
  font-family: Arial, sans-serif;
}

.list{
  margin: 20px 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;
  
  .list-row{
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: stretch;
	
	.key{
	  display: inline-block;
	  width: 100px;
	  background: rgba(255,255,255,0.2);
	  padding: 10px;
	  text-align: right;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  
	  &.interests{
		padding: 15px 10px;
	  }
	}
	.value{
	  display: inline-block;
	  padding: 10px;
	}
  }
}

.matches-header{
  padding-left: 5px;
}

.interest{
  display: inline-block;
  padding: 5px 15px;
  border-radius: 30px;
  background: rgba(255,255,255,0.1);
  margin: 0 5px;
}